<ion-header>
  <ion-navbar>
    <ion-title>
      Route {{ routeNumber }}, Stop {{ stopNumber }}
    </ion-title>
    <ion-buttons end> 
      <button *ngIf="showCompleted == false" ion-button icon-only (click)="toggle()" outline>
	<ion-icon name="apps"></ion-icon>
      </button>

      <button *ngIf="showCompleted == true" ion-button icon-only (click)="toggle()" solid>
	<ion-icon name="apps"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)" (ionClear)="hideDaKeyboard()"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let item of auditorService.getItems(routeIndex, cartRequirements.statusIndex, cartRequirements.stopIndex, cartRequirements.cartIndex); let i = index">
  <div class="aCard" *ngIf="item.audited == false && showCompleted == false" (swipe)="swipe($event, i)">

    <div class="checkbox">
    <ion-checkbox color="dark" checked="item.audited" (click)="itemClicked(i)"></ion-checkbox>
    </div>
    <div class="itemName">
    {{ item.itemName }}
    </div>
    <div class="itemWrin">
      <strong>
    {{ item.wrin }}
      </strong>
    </div>
    
    <div *ngIf="item.quantity > 1" class="slider">
      <ion-label>{{item.selectedQuantity}}</ion-label>
	    <ion-range min="0" [max]="item.quantity" step="1" [(ngModel)]="item.selectedQuantity" (ionChange)="isAudited(i)">
	      <ion-label range-left>0</ion-label>
	      <ion-label range-right>{{item.quantity}}</ion-label>
	    </ion-range>

    </div>
    <!--
    <ion-card-header>
	<ion-grid>
	  <ion-row>
	    <ion-item> 
	      <ion-label> {{ item.itemName }}</ion-label>
	      <ion-checkbox color="dark" checked="item.audited" (click)="itemClicked(i)"></ion-checkbox>
	      </ion-item>
	    </ion-row>
	  </ion-grid>
	</ion-card-header>
	<ion-grid>
	<ion-row>
	  <ion-item *ngIf="item.quantity > 1">
	    <ion-label>{{item.selectedQuantity}}</ion-label>
	    <ion-range min="0" [max]="item.quantity" step="1" [(ngModel)]="item.selectedQuantity" (ionChange)="isAudited(i)">
	      <ion-label range-left>0</ion-label>
	      <ion-label range-right>{{item.quantity}}</ion-label>
	    </ion-range>
	  </ion-item>
	</ion-row>
	<ion-row>
	  <ion-col>
	    WRIN: {{ item.wrin }}
	  </ion-col>
	  <ion-col col-4>
	    <button ion-button (click)="logErrors(i)">Error</button>
	  </ion-col>
	</ion-row>
      </ion-grid>
    -->
    </div>
  <ion-card *ngIf="showCompleted == true && item.audited == true">
    <ion-card-header>
	<ion-grid>
	  <ion-row>
	    <ion-item> 
	      <ion-label> {{ item.itemName }}</ion-label>
	      <ion-checkbox color="dark" checked="item.audited" (click)="itemClicked(i)"></ion-checkbox>
	      </ion-item>
	    </ion-row>
	  </ion-grid>
	</ion-card-header>
	<ion-grid>
	<ion-row>
	  <ion-col>
	    WRIN: {{ item.wrin }}
	  </ion-col>
	  <ion-col col-4>
	    <button ion-button (click)="logErrors(i)">Error</button>
	  </ion-col>
	</ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>

