<div>
  <div *ngFor="let aRoute of auditedRoutes">
      <div *ngIf="aRoute.bunsAudited == true">
	{{ aRoute.routeNumber }}'s buns are audited
      </div>
    <div *ngFor="let status of aRoute.statuss">
      {{ aRoute.routeNumber }} ({{status.status}})
      <ul>
	<li><span *ngFor="let stop of status.stops"><span *ngIf="allStopsComplete(stop)">{{stop.stopNumber}},</span></span></li>
      </ul>
    </div>
  </div>
  
    <ul>
      <li *ngFor="let typeError of errorTypes; let i = index">
	{{typeError}}:
	<ul>
	  <div *ngFor="let error of errors">
	  <li *ngIf="error.errorIndex == i">
	      {{ error.message }}
	  </li>
	  </div>
	</ul>
      </li>
    </ul>
  
  <button ion-button color="blue" outline (click)="startNewShift()">Send and Clear Shift</button>
</div>
