<div>
  <ion-item-group *ngFor="let route of routes; let i = index">
    <div *ngIf="auditorService.isRouteAudited(i) == true">
    <ion-item-divider>{{route.routeNumber}}</ion-item-divider>
    <div *ngFor="let status of route.statuss">
      <ion-list-header>
	{{status.status}}
      </ion-list-header>
      <div *ngFor="let stop of status.stops">
	<div *ngFor="let cartPosition of stop.cartPositions">
	  <div *ngIf="cartPosition.audited == true">
	  <ion-item>
	    <ion-card>
	      <ion-card-header>{{cartPosition.picker.name}}</ion-card-header>
	      <ion-card-content>
		{{cartPosition.cartPosition}}
	      </ion-card-content>
	    </ion-card>
	  </ion-item>
	  </div>
	</div>
      </div>
    </div>
    </div>
  </ion-item-group>
</div>
