<ion-header>
  <ion-navbar>
    <ion-title>
      Route {{ theRoute.routeNumber }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-end outline color="orange" *ngIf="theRoute.bunsAudited == false" (click)="buns()">
	Buns
	<ion-icon name="radio-button-off"></ion-icon>
      </button>
      <button *ngIf="theRoute.bunsAudited == true" ion-button icon-end solid color="orange" (click)="buns()">
	Buns
	<ion-icon name="radio-button-on"></ion-icon>
      </button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <ion-item>
    <ion-label>Stop</ion-label>
    <ion-select [(ngModel)]="selectedStop">
      <ion-option *ngFor="let stop of theRoute.statuss[0].stops" [value]="stop.stopNumber">
	{{ stop.stopNumber }}
      </ion-option>
    </ion-select>
  </ion-item>
  
  <ion-item-group *ngFor="let aStatus of theRoute.statuss; let h = index">
    <ion-item-divider color="light">{{ aStatus.status }} <ion-icon *ngIf="thisHotRoute(selectedStop) == true" name="flame"></ion-icon></ion-item-divider>
    <ion-card *ngFor="let stop of aStatus.stops; let i = index">
      <div *ngIf="stop.stopNumber == selectedStop">
      <ion-card *ngFor="let cartPosition of stop.cartPositions; let j = index" >
	<ion-card-header (click)="cartPositionPicked(cartPosition, stop, aStatus)">
	  <ion-grid>
	    <ion-row>
	      <ion-col>
		{{ cartPosition.cartPosition }}  
	      </ion-col>
	      <ion-col>
		{{ aStatus.status }} 
	      </ion-col>
	      <ion-col *ngIf="isAudited(h, i, j) == 1">
		<ion-icon name="eye"></ion-icon>
	      </ion-col>
	      <ion-col *ngIf="isAudited(h, i, j) == 0">
		<ion-icon name="checkmark-circle"></ion-icon>
	      </ion-col>
	      <ion-col *ngIf="isAudited(h, i, j) == 2">
	      </ion-col>
	    </ion-row>
	  </ion-grid>
	</ion-card-header>
	<ion-grid>
	<ion-row>
	  <!--
	  <ion-item>
	    <ion-label fixed>Picker</ion-label> 
	    <ion-select [(ngModel)]="cartPosition.picker">
	      <ion-option *ngFor="let picker of auditorService.getPickers()" [value]="picker">
		{{ picker.name }}
	      </ion-option>
	    </ion-select>
	  </ion-item>
	  -->
	  <search-drop-down (picked)="assignPicker($event, cartPosition)" [selectedPicker]="cartPosition.picker" [picker]="auditorService.getPickers()"></search-drop-down>
	</ion-row>
      </ion-grid>
    </ion-card>
    </div>
  </ion-card>
  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button (click)="addPicker()">
	Add Picker
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
