<ion-header>
  <ion-navbar>
    <ion-title>
      Error Center
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let error of potentialErrors; let i = index">
      <ion-card-title>{{ error.typeOfError[error.errorIndex] }} </ion-card-title>
      <div *ngIf="error.errorIndex == 0 || error.errorIndex == 1 || error.errorIndex == 3">
	Route: {{ error.routeNumber }}<br>
	Cart Position: {{ error.cartPosition }}<br>
	Picker: {{ error.picker }} <br>
      </div>
      <div *ngIf="error.errorIndex == 2">
	Route: {{ error.routeNumber }}<br>
	Cart Position: {{ error.cartPosition }} <br>
	Picker: {{ error.picker }} <br>
	Correct Item: {{ error.correct.itemName }} <br>
	Wrong Item: {{ error.picked.itemName }} <br>
      </div>
      <div *ngIf="error.errorIndex == 4">
	Route: {{ error.routeNumber }} <br>
      </div>  
      <div *ngIf="error.errorIndex == 5">
	Route: {{ error.routeNumber }} <br>
	Cart Position: {{ error.cartPosition }} <br>
	Picker: {{ error.picker }} <br>
	Item: {{ error.itemShort.itemName }} <br>
	Short: {{ error.short }} <br>
      </div>
      <div *ngIf="error.errorIndex == 6">
	Route: {{ error.routeNumber }} <br>
	Right Cart Position: {{ error.cartPosition }} <br>
	Picker: {{ error.picker }} <br>
	Wrong Cart Position: {{ error.wrongCartPosition }} <br>
	Item: {{ error.picked.itemName }} <br>
      </div>
      <div *ngIf="error.errorIndex == 7">
	Route: {{ error.routeNumber }} <br>
	Cart Position: {{ error.cartPosition }} <br>
	Picker: {{ error.picker }} <br>
	Item: {{ error.itemOverage.itemName }} <br>
	Overage: {{ error.overage }} <br>
      </div>
      <button ion-button color="secondary" (click)="confirm(i)">Confirm Error</button>
      <button ion-button color="danger" (click)="remove(i)">Remove Error</button>
      <button ion-button (click)="edit(i)">Edit Error</button>
    </ion-card>
  </ion-list>
</ion-content>
